/* .deleteModalMainContainer {
    height: 20vh;
    width: 25vw;
}
.modalButtons {
  
}
.modalButtons button {
  outline: none;
  background: none;
  padding: 10px 25px 10px 25px;
} */
.deleteModalMainContainer {
  width: 450px;
  height: 250px;
}
.deleteTitleContainer {
  height: 3vh;
  border-bottom: 1px solid #e9ecef;
  font-size: 28px;
  margin-bottom: 0px;
  padding-bottom: 50px;
}
.deleteModalTextContainer {
  height: 10vh;
  display: flex;
  align-items: center;
}
.modalText {
    font-size: 20px;
}
.deleteModalButtonsContainer {
  /* margin-top: 4vh;
   */
   margin-top: 10px;
  padding-top: 40px;
  border-top: 1px solid #e9ecef;
  /* padding: 2vh 0vh 0.3vh 0vh; */
  display: flex;
  justify-content: flex-end;
}
.deleteModalButtonsContainer :nth-child(1) {
  outline: none;
  background: red;
  color: white;
  padding: 15px 30px 15px 30px;
  margin: 5px;
  border: none;
  cursor: pointer;
}
.deleteModalButtonsContainer :nth-child(1):hover {
  color: white;
  background: black;
  transition: ease-in-out 0.3s;
}
.deleteModalButtonsContainer :nth-child(2) {
  outline: none;
  border: none;
  padding: 15px 30px 15px 30px;
  margin: 5px;
  background: #027DFE;
  cursor: pointer;
  color: white;
}
.deleteModalButtonsContainer :nth-child(2):hover {
    background: black;
    transition: ease-in-out 0.3s;
  }
  