/* .deleteModalMainContainer {
    height: 20vh;
    width: 25vw;
}
.modalButtons {
  
}
.modalButtons button {
  outline: none;
  background: none;
  padding: 10px 25px 10px 25px;
} */
.deleteModalMainContainer {
  width: 450px;
}

.deleteTitleContainer {
  height: 3vh;
  border-bottom: 1px solid aliceblue;
  font-size: 28px;
  margin-bottom: 5px;
  padding-bottom: 60px;
  color: cadetblue;
}

.deleteModalTextContainer {
  height: 10vh;
  display: flex;
  color: cadetblue;
  align-items: center;
}

.modalText {
  font-size: 20px;
}

.deleteModalButtonsContainer {
  /* margin-top: 4vh;
   */
  margin-top: 10px;
  padding-top: 25px;
  border-top: 1px solid aliceblue;
  /* padding: 2vh 0vh 0.3vh 0vh; */
  display: flex;
  justify-content: flex-end;
}

.deleteModalButtonsContainer :nth-child(1) {
  outline: none;
  padding: 15px 30px 15px 30px;
  margin: 5px;
  cursor: pointer;
  background: aliceblue;
  border: 1px solid cadetblue;
  color: cadetblue;
}

.deleteModalButtonsContainer :nth-child(1):hover {
  color: white;
  background: cadetblue;
  transition: ease-in-out 0.3s;
}

.deleteModalButtonsContainer :nth-child(2) {
  outline: none;
  padding: 15px 30px 15px 30px;
  margin: 5px;
  cursor: pointer;
  background: aliceblue;
  border: 1px solid cadetblue;
  color: cadetblue;
}

.deleteModalButtonsContainer :nth-child(2):hover {
  color: white;
  background: cadetblue;
  transition: ease-in-out 0.3s;
}