.postsPageMainContainer {
  width: 100vw;
  height: max-content;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
}

.contentHeaderContainer {
  width: 100vw;
  /* margin-left: 32%; */
  /* padding-left: 1rem; */
  font-size: 22px;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.contentHeaderContainer h1 {
  color: darkcyan;
  font-weight: 400;
}

.dataContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.postContainer {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  gap: 2rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
  justify-content: center;
}

.postDataCardContainer {
  display: flex;
  flex-direction: column;
}

.postDataCard {
  padding: 1rem;
  width: 440px;
  height: 344px;
  background-color: white;
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-sizing: border-box;
  border-radius: 4px 4px 0px 0px;
  cursor: pointer;
}

.postDataCard:hover {
  /* box-shadow: 0 0px 8px rgba(0,0,0,0.25), 0 0px 0px rgba(0,0,0,0.22); */
}

.dropDown {
  border-top: 2px solid aliceblue;
  /* display: none; */
  width: 440px;
  padding: 1rem;
  /* box-shadow: 0 0px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 0px 0px 4px 4px;
  background-color: white;
}

.dropDown.open {
  display: block;
}

.postCardButtonContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.postCardButtonContainer button {
  outline: none;
  background: aliceblue;
  padding: 15px 30px 15px 30px;
  border: 1px solid cadetblue;
  color: cadetblue;
  border-radius: 4px;
  cursor: pointer;
}

.postCardHeader {
  display: flex;
  margin-bottom: 1rem;
}

.postCardHeader span {
  margin-right: 5px;
  color: cadetblue;
}

#postCardUserImg {
  width: 2.5rem;
  border-radius: 9999px;
  margin-right: 1rem;
}

.postCardBody {
  display: flex;
  gap: 1rem;
}

.postCardImgContainer {
  width: 50%;
}

#postCardImg {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.postCardSideCaptionContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.postCardSideCaptionContainer span {
  color: cadetblue;
  flex-wrap: wrap;
}

.tagContainer {
  display: flex;
}

.tagContainer div {
  padding: 3px 5px 3px 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: azure;
  border-radius: 4px;
  border: 1px solid;
}

.likesContainer {
  display: flex;
  align-items: center;
}

#thumbsUpIcon {
  margin-right: 5px;
  width: 1.25rem;
}

/* modal styling start */

/* modal styling end */
/* user interactive stuff*/
.postInteractives {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.postSearchBarContainer {
  padding: 1vw;
}

.searchBar {
  outline: none;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 200px;
  height: 50px;
  padding: 10px;
  color: cadetblue;
  border-radius: 10px;
}

.searchBar::placeholder {
  color: cadetblue;
}

.createPostContainer {
  padding: 1vw;
}

.createPostBtn {
  background-color: white;
  color: cadetblue;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  width: 100px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* user interactive end */
/* alert success styling start*/
.alertSuccess {
  border-radius: 8px !important;
  position: fixed;
  bottom: 0;
  left: -400px;
  background-color: cadetblue;
  transition: all ease-in 0.6s;
}
.alertSlide {
  -webkit-animation: slide 1s forwards;
    animation: slide 1s forwards;
}
@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}
.css-efvcc7-MuiPaper-root-MuiAlert-root {
  background-color: azure !important;
  color: cadetblue!important;
  border: 1px solid !important;
  -webkit-animation: slide 0.5s forwards !important;
    animation: slide 0.5s forwards !important;
}

.css-efvcc7-MuiPaper-root-MuiAlert-root .MuiAlert-icon {
  padding-top: 13px;
}

.css-1ytlwq5-MuiAlert-icon {
  font-size: 30px;
  color: cadetblue !important;
}

/* alert success styling end */

/* responsive styling start*/
@media (max-width: 820px) {
  .postContainer {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .postDataCard {
    width: 90vw;
    height: fit-content;
  }
  .dropDown {
    width: 90vw;
  }
  .postCardSideCaptionContainer {
    margin-top: 0;
  }
  span {
    padding-top: 0;
    padding-bottom: 10px;
  }
}
@media (max-width: 300px) {
  .userInteractives {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .postInteractives {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .searchBarContainer {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .postSearchBarContainer {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

/* responsive styling end */