@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Roboto:wght@100&display=swap');
/* page set up start */
.articlePageContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.articleContentContainer {
    width: 62.5%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* set up end */
/* page content container start */
.articleHeader {
    width: 80.5%;
    height: 45vh;
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.articleBody {
    width: 80.5%;
    height: max-content;
    margin-top: 5vh;
    line-height: 4vh;
}
.articleFooter {
    margin-top: 8vh;
    width: 100%;
    margin-bottom: 25vh;
}
/* page content container end */
/* content styling start */
#articleUsersInfoContainer {
    margin-top: 2vh;
}
.authorInfoContainer {
    width: 100%;
    height: 20vh;
    display: flex;
    border-bottom: 1px solid rgba(109, 125, 139, 0.22);;
}
.articleUserInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    height: 2.5vh;
    line-height: 3.5vh;
}
.articleUserInfo span:nth-child(1) {
    color: #1E2742;
    font-weight: 600;
    font-size: 14px;
}
.articleUserInfo span:nth-child(2) {
    color: #25313C;
    font-size: 24px;
}
.articleUserInfo span:nth-child(3) {
    color: #989898;
    font-weight: 600;
    font-size: 14px;
}
.articleUserInfo span {
    padding: 0;
}
.readerCommentContainer {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
} 
.readerCommentContainer span {
    color: #6D7D8B;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 2.5vh;
}
.readerCommentContent {
    width: 100%;
    display: flex;
}
#userComment {
    width: 100%;
    height: 20vh;
    border-radius: 4px;
    padding: 12px;
    color: #BBC8D4;
    outline: 2px solid #BBC8D4;
    border: none;
    font-size: 16px;
    margin-left: 1.5vw;
}
#userComment::-webkit-input-placeholder {
    color: #BBC8D4;
}
/* content styling end */
/* article page images styling start*/
#articleImg {
    width: 100%;
    margin-top: 5vh;
}
#articleUserPictures {
  width: 3.5vw;
  height: 3.5vw;
}
/* article page iamges styling end */
/* text styling start */
#articleTitle {
    font-family: 'Mukta', sans-serif;
    font-size: 3.3vw;
    font-weight: 800;
    line-height: 79.78px;
    color: #25313C;
}
#articleDate {
    border-left: 1px solid gray;
    line-height: 8px;
    padding-left: 1vw;
  }
#articleUserName {
    padding-left: 1vw;
    padding-right: 1vw;
}
.articleInfoTexts {
    padding-bottom: 5px;
    font-size: 1vw;
    color: #6D7D8B
}
.articleBodyText {
    margin-top: 5vh;
    font-size: 1.25vw;
    font-weight: 600;
}
/* text styling start */