.homePageMainContainer {
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.contents {
    width: 100%;
    height: 100vh;
}
