/* main page set up start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

/* fix overflow-x: hidden on other pages */
.homePageMainContainer {
  width: 100%;
  height: max-content;
  position: absolute;
  background-color: #f6f7fa;
  top: 0;
  left: 0;
  align-items: flex-end;
  /* background-color: #f5f7fa; */
}

.contents {
  width: 100%;
  height: 100vh;
}

/* main page set up end */

/* start of content one */
.contentOne {
  background-image: url("https://media.discordapp.net/attachments/1004621319901552710/1023527420902527026/unknown.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.leftSideOne {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
}

.leftSideOneContent {
  width: 75%;
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}

.rightSideOne {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
}

.earlyAccessContainer {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5vh;
}

#earlyAccessInputBar {
  width: 57%;
  height: 7vh;
  padding: 0px 0px 0px 25px;
  font-size: 1.2vw;
  border-radius: 4px;
}

#earlyAccessButton {
  width: 33%;
  height: 7vh;
  background-color: #0bbef2;
  color: white;
  font-size: 1vw;
  border: none;
  border-radius: 4px;
}

/* content one end */

/* content two start */
.contentTwo {
  background-color: #f5f7fa;
  display: flex;
}

.leftSideTwo {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftSideTwoContent {
  padding-left: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.rightSideTwo {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSideTwoContent {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* content two end */

/* content three start */
.contentThree {
  background-color: #f5f7fa;
  display: flex;
}

.leftSideThree {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.leftSideThreeContent {
  margin-left: 5%;
}

.rightSideThree {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.rightSideThreeContent {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* content three end */

/* content four start */
.contentFour {
  background-color: #f5f7fa;
  display: flex;
}

.leftSideFour {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftSideFourContent {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.rightSideFour {
  width: 50vw;
  display: flex;
  align-items: center;
}

.rightSideFourContent {
  width: 100%;
}

/* content four end */

/* content five start */
.contentFive {
  background-color: #f5f7fa;
  overflow: hidden;
}

.contentFiveTop {
  text-align: center;
  margin-top: 10vh;
}

.contentFiveBottom {
  width: max-content;
  height: 65vh;
  width: 100%;
  display: flex;
  overflow-x: scroll;
}
/* content five end */

/* all different icons set ups start */
#blueBox {
  width: 12px;
  height: 12px;
  padding-left: 4px;
}

#blueArrow {
  width: 20px;
  height: 20px;
}

/* all different icons set ups end */

/* all img set ups start */
.meetingsImg {
  height: 90vh;
  background-size: cover;
  background-position: center;
}

.taskManagementImg {
  height: 75vh;
}

.schedulingImg {
  height: 75vh;
}

.userPictures {
  width: 3vw;
  margin-right: 25px;
}

/* all img set ups end */

/* different text set ups start */
.titleTexts {
  font-family: "Work Sans", sans-serif;
  font-size: 3.2vw;
  font-weight: 800;
}

.contentTexts {
  padding-top: 25px;
  padding-right: 10vw;
  font-size: 1.4vw;
  font-weight: 600;
}

.titleTextsV2 {
  font-family: "Work Sans", sans-serif;
  font-size: 3.4vw;
  font-weight: 800;
}

.contentTextsV2 {
  padding-top: 4.2vh;
  padding-right: 10vw;
  font-size: 1.3vw;
  font-weight: 400;
}

.titleTextsV3 {
  font-family: "Work Sans", sans-serif;
  font-size: 1.3vw;
  font-weight: 600;
}

.contentTextsV3 {
  padding-top: 4.2vh;
  padding-right: 10vw;
  font-size: 1vw;
  font-weight: 400;
}

.learnMoreTexts {
  padding-top: 4vh;
  color: #4da0fd;
  font-size: 1.2vw;
  display: flex;
  align-items: center;
  width: 8.2vw;
  justify-content: space-between;
}
.contentsBlur {
  background-image: url(https://media.discordapp.net/attachments/1004621319901552710/1023527420902527026/unknown.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 100vh;
  width: 100%;
  /* z-index: -1; */
  /* transform: scale(1.1); */
}
/* different text set ups end */
@media (max-width: 1010px) {
  .meetingsImg {
    height: 450px;
  }
  .taskManagementImg {
    height: 400px;
  }
  .schedulingImg {
    height: 400px;
  }
}
@media (max-width: 840px) {
  .meetingsImg {
    height: 450px;
  }
  .taskManagementImg {
    height: 300px;
  }
  .schedulingImg {
    height: 300px;
  }
}
@media (max-width: 660px) {
  .meetingsImg {
    height: 300px;
  }
  .taskManagementImg {
    height: 200px;
  }
  .schedulingImg {
    height: 200px;
  }
}

@media (max-width: 500px) {
  .homePageMainContainer {
    overflow: hidden;
  }

  .rightSideThree {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    right: 0;
    position: absolute;
    justify-content: flex-end;
  }

  .signInCosignUpContentContainerntainer {
    width: 50%;
  }

  .taskManagementImg {
    height: 50vw;
  }

  .schedulingImg {
    height: 50vw;
  }

  .contentsBlur {
    filter: blur(5px);
  }

  .leftSideOne {
    width: 100%;
    text-align: center;
  }

  .earlyAccessContainer {
    width: 90vw;
    margin-left: -10vw;
    justify-content: space-around;
  }

  #earlyAccessInputBar {
    font-size: 15px;
  }

  #earlyAccessButton {
    font-size: 12px;
  }

  .titleTexts {
    font-size: 30px;
  }

  .contentTexts {
    font-size: 20px;
    padding-right: 0;
  }

  .contentTextsV2 {
    padding-top: 4.2vh;
    padding-right: 0vw;
    font-size: 12px;
    font-weight: 400;
  }

  .titleTextsV3 {
    font-size: 18px;
  }

  .contentTextsV3 {
    padding-top: 4.2vh;
    padding-right: 10vw;
    font-size: 15px;
    font-weight: 400;
  }

  .navDarkBackground {
    font-size: 32px;
  }

  .userPictures {
    width: 50px;
  }

  /* content two */
  .contentTwo {
    flex-direction: column-reverse;
  }

  .rightSideTwo {
    width: 100%;
  }

  .leftSideTwo {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .leftSideTwoContent {
    padding-left: 5%;
  }

  .meetingsImg {
    height: 350px;
    background-size: cover;
    background-position: center;
  }

  /* content two end */
  /* content three */
  .contentThree {
    display: flex;
    flex-direction: column;
  }

  .leftSideThree {
    height: 50vh;
  }

  .rightSideThree {
    width: 100vw;
    height: 0;
    margin-top: 100px;
    justify-content: center;
    position: relative;
  }

  .rightSideThreeContent {
    width: 85vw;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .leftSideThreeContent {
    margin: 0;
  }

  .taskManagementImg {
    height: 102vw;
  }
  /* content three end */
  /* content four */
  .contentFour {
    flex-direction: column-reverse;
  }
  .leftSideFourContent {
    width: 85vw;
    text-align: center;
    justify-content: center;
  }
  .leftSideFour {
    width: 100vw;
  }
  .rightSideFour {
    width: 100vw;
  }
  .schedulingImg {
    height: 102vw;
  }
  .titleTextsV2 {
    margin-top: 50px;
    font-size: 18px;
  }
  .contentTextsV2 {
    font-size: 15px;
  }
  /* content four end */
  .learnMoreTexts {
    width: 100px;
    font-size: 15px;
    margin-left: 30vw;
  }
}

.homeDataContainer h1 {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 3.4vw;
  font-weight: 800;
  margin-top: 5vh;
}
.homeDataContainer button {
  position: relative;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
  font-size: calc(12px + 1vw);
  padding-bottom: 3px;
	cursor: pointer;
	outline: inherit;
  left: 85vw;
  top: 10vh;
}
.homeDataContainer button:hover {
  border-bottom: 1px solid black;
}

/* x scroll */
#scroller {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  white-space: nowrap;
  background-color: #f6f7fa;
  margin-top: 15vh;
  margin-bottom: 20vh;
  margin-left: 2vw;
}
#scroller .postDataCard {
  display: inline-block;
  margin-right: 50px;
}

@media (max-width: 820px) {
  .homePageContentContainer {
    padding: calc(10px * 4) calc(10px * 1);
  }
  .homeDataContainer button {
  font-size: calc(8px + 1vw);
  }
}
@media (max-width: 420px) {
  .homeDataContainer button {
    font-size: 1rem;
    left: 72vw;
  }
  .homeDataContainer h1 {
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-size: 3.4vh;
    font-weight: 800;
    margin-top: 5vh;
  }
}
