.usersPageMainContainer {
    width: 100vw;
    min-height: 100vh;
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f5f7fa;
}
.dataContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.loadingText {
    color: #6d7d8b;
}
.userContainer {
    width: fit-content;
    min-height: 27vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    gap: 2rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
    justify-content: center;
}

.userDataCardContainer {
    display: flex;
    flex-direction: column;
}

.userDataCard {
    width: 440px;
    background-color: white;
    padding: 1rem;
    border-radius: 4px;
}

.userDataCard img {
    max-width: 100%;
    height: auto;
    margin-right: 1rem;
    float: left;
}

#userId {
    color: #6d7d8b;
}

.userInfoContainer {
    margin-top: 5px;
}

.userInfoContainer span {
    color: #6d7d8b;
    margin-right: 5px;
}

.cardContentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardDataContainer {
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
}

.cardDataContainer span {
    margin-left: 5px;
}

.cardButtonContainer {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cardButtonContainer button {
    outline: none;
    background: none;
    padding: 10px 25px 10px 25px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.cardButtonContainer button:hover {
    background: black;
    color: white;
    transition: ease-in-out 0.3s;
}

#dataPictures {
    height: 10vh;
    margin-right: 10px;
    /* border-bottom: 1px solid black; */
    border-right: 1px solid black;
}

/* modal styling start */
.modalX {}

.modalTitle {}

.modalText {}

.modalButtons {}

/* modal styling end */
/* user interactive stuff*/
.userInteractives {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.searchBarContainer {
    padding: 1vw;
}

.searchBar {
    outline: none;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 200px;
    height: 50px;
    padding: 10px;
    color: #6d7d8b;
    border-radius: 10px;
}

.searchBar::placeholder {
    color: #6d7d8b;
}

.createUserContainer {
    padding: 1vw;
}

.createUserBtn {
    background-color: white;
    color: #6d7d8b;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
    width: 100px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

/* user interactive end */
/* alert success styling start*/
.alertSuccess {
    position: fixed;
    bottom: 0;
    left: 0;
}

.alertSuccess .css-1pxa9xg-MuiAlert-message {
    font-size: 23px;
}

.css-efvcc7-MuiPaper-root-MuiAlert-root .MuiAlert-icon {
    padding-top: 10px;
}

.css-1ytlwq5-MuiAlert-icon {
    font-size: 30px;
}

/* alert success styling end */
@media (max-width: 980px) {
    .userContainer {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .userDataCard {
      width: 90vw;
    }
  }