* {
  font-family: "Mulish", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&family=Work+Sans&display=swap");
.mainContainer {
  width: 100vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputComponents {
  width: 70%;
  margin-top: 25px;
  padding-bottom: 10px;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  color: #000000;
}
::placeholder {
  color: rgb(0, 0, 0);
}
.button {
  padding: 20px;
  width: 200px;
  border: none;
  background-color: #0bbef2;
  color: white;
  border-radius: 8px;
  margin-top: 25px;
  cursor: pointer;
}
h1 {
  color: rgb(0, 0, 0);
}
#dob {
  color-scheme: dark;
}
.inputComponents:-webkit-autofill,
.inputComponents:-webkit-autofill:hover,
.inputComponents:-webkit-autofill:focus,
.inputComponents:-webkit-autofill:active {
  transition: background-color 0s ease-in-out 0s;
  transition-delay: 50000s;
}
.inputComponents:-webkit-autofill {
  -webkit-text-fill-color: rgb(0, 0, 0) !important;
}

.loginSignUpLink {
  margin-top: 25px;
  color: rgb(0, 0, 0);
}
#signUpLink {
  cursor: pointer;
  color: #4da0fd;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
#signUpLink:hover {
  text-decoration: underline;
}
span {
  padding-top: 10px;
}
