.signInMainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentContainer {
    width: 100%;
    height: 100%;
    /* border: 1.5px solid #ccc; */
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .signInContainer {
    width: 40%;
    height: 55%;
    border: 1.5px solid #ccc;
    box-shadow: 0px 0px 0.5px 0px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }